<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <title>MFW Profile</title>
</head>
<body>
    <h1>Your Profile</h1>
    <h2>Hello, {{name}}!</h2>
    <h3><a href = "http://127.0.0.1:8000/views/go-to-home">Go to home</a></h3>
 
    <table border = "2" cellpadding = "3" cellspacing = "0">
        <tr>
            <th>Profile picture</th>
        </tr>
        <tr>
            <img src = "https://via.placeholder.com/150/FF0000/FFFFFF?Text=Digital.com">
        </tr>
    </table>

        <h3>About me</h3>
        <p>
            Quisque diam turpis, consequat in ante a, gravida cursus lorem. Nullam tristique quam in enim molestie pulvinar. 
            Nunc sapien elit, maximus sit amet vestibulum ut, fermentum non nulla. Donec ut lacus sit amet diam rhoncus maximus sed id odio. 
            Maecenas volutpat dui tellus, ac molestie neque suscipit tristique. Praesent fringilla consequat nunc vitae pretium. 
            Donec et lectus in odio egestas efficitur ac interdum enim. Mauris eu finibus massa, eget condimentum diam.
        </p>

</body>
</html>